<div class="container">
    <div class="titleBox">
        <h2 >Itinerario</h2>
        <div class="buttons">
            <button mat-raised-button color="primary" class="button_rute" (click)="goToRute()">Ver Ruta</button>
            <button mat-raised-button color="primary" class="button_PDF" (click)="generatePDF()">PDF</button>
        </div>
    </div>
    <div class="tabla">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="province">
                <th class="header" mat-header-cell *matHeaderCellDef>Provincia</th>
                <td class="content" mat-cell *matCellDef="let element"> {{element.province}} </td>
              </ng-container>
              <ng-container matColumnDef="town">
                <th class="header" mat-header-cell *matHeaderCellDef>Localidad</th>
                <td class="content" mat-cell *matCellDef="let element"> {{element.town.dsmuni}} </td>
              </ng-container>
              <ng-container matColumnDef="postCode">
                <th class="header" mat-header-cell *matHeaderCellDef>Código postal</th>
                <td class="content" mat-cell *matCellDef="let element"> {{element.postCode}} </td>
              </ng-container>
            <ng-container matColumnDef="roadName">
              <th class="header" mat-header-cell *matHeaderCellDef>Calle</th>
              <td class="content" mat-cell *matCellDef="let element"> {{element.roadType + " " + element.roadName}} </td>
            </ng-container>

            <ng-container matColumnDef="roadNumber">
              <th class="header" mat-header-cell *matHeaderCellDef>Número </th>
              <td class="content" mat-cell *matCellDef="let element"> {{element.roadNumber}} </td>
            </ng-container>

            <tr class="header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

</div>


