
    <form [formGroup]="routeCreateForm" (ngSubmit)="submitStreet()" class="form">
        <h2>Crear Ruta</h2>
        <div class="field-grid">
            <mat-form-field appearance="outline">
                <mat-label>Provincia</mat-label>
                <input matInput formControlName="province" type="text" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Localidad</mat-label>
                <input matInput formControlName="town" type="text" [matAutocomplete]="towns" />
                <mat-autocomplete #towns="matAutocomplete" [displayWith]="displayNameTownFn">
                    <mat-option *ngFor="let town of filteredTowns |async" [value]="town">{{town.dsmuni}}</mat-option>
                </mat-autocomplete>
                <mat-error>Selecciona un elemento de la lista.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Código Postal</mat-label>
                <input matInput formControlName="postCode" type="text" [matAutocomplete]="postCodes" />
                <mat-autocomplete #postCodes="matAutocomplete">
                    <mat-option *ngFor="let postCode of filteredPostCodes | async"
                        [value]="postCode">{{postCode}}</mat-option>
                </mat-autocomplete>
                <mat-error>Selecciona un código de la lista.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tipo de Vía</mat-label>
                <mat-select formControlName="roadType">
                    <mat-option *ngFor="let type of roadTypes" [value]="type">{{type}}</mat-option>
                </mat-select>
                <mat-error>Debes rellenar este campo.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" id="roadName">
                <mat-label>Nombre de la Vía</mat-label>
                <input matInput formControlName="roadName" type="text" [matAutocomplete]="roads" />
                <mat-autocomplete #roads="matAutocomplete" [displayWith]="displayNameFn">
                    <mat-option *ngFor="let road of filteredRoads | async" [value]="road">{{road.name}}</mat-option>
                </mat-autocomplete>
                <mat-error>Selecciona un elemento de la lista.</mat-error>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <mat-checkbox class="fs-20" formControlName="allRoad" color="primary">Vía Completa</mat-checkbox>
        <div class="number-fields__box">
            <div class="number-fields">
                <mat-checkbox formControlName="odd" color="primary">Impares</mat-checkbox>
                <div class="number-fields__inputs">
                    <mat-form-field appearance="outline">
                        <mat-label>Desde: Mínimo Impar</mat-label>
                        <input matInput formControlName="roadNumberMinOdd" type="number" min="1" step="2" />
                        <mat-error>El número no es válido.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Máximo Impar</mat-label>
                        <input matInput formControlName="roadNumberMaxOdd" type="number" min="1" step="2" />
                        <mat-error>El número no es válido.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="number-fields">
                <mat-checkbox formControlName="even" color="primary">Pares</mat-checkbox>
                <div class="number-fields__inputs">
                    <mat-form-field appearance="outline">
                        <mat-label>Mínimo Par</mat-label>
                        <input matInput formControlName="roadNumberMinEven" type="number" min="2" step="2" />
                        <mat-error>El número no es válido.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Máximo Par</mat-label>
                        <input matInput formControlName="roadNumberMaxEven" type="number" min="2" step="2" />
                        <mat-error>El número no es válido.</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="submit-box">
            <mat-error >
                <div *ngIf="routeCreateForm.errors?.['invalidRoadNumbers']">
                    Los números de la calle no son válidos. Ten en cuenta que los números mínimos no pueden ser mayores que los
                    máximos.
                </div>
                <div *ngIf="routeCreateForm.errors?.['oddEvenValidation']">
                    Debes seleccionar al menos una de las opciones (pares/impares).
                </div>
            </mat-error>
            <button mat-raised-button type="submit" [disabled]="routeCreateForm.invalid">Añadir
                Calle</button>
        </div>
    </form>
