.tabla{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: scroll;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

th,td{
    text-align: center;
}
.header{
    background-color: var(--color-blue-soft);
    text-align: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.field{
    width:150px;
    font-size: 16px;
    margin-bottom: -20px;
}
