<div class="container">
    <form [formGroup]="addEmployeeForm" (submit)="onSubmit()">
        <h2>Datos del Empleado</h2>
        <div class="form_field">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Nombre" formControlName="employeeName">
                <mat-error
                    *ngIf="!addEmployeeForm.controls['employeeName'].valid && addEmployeeForm.controls['employeeName'].touched">Debes
                    rellenar este campo.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellido 1</mat-label>
                <input matInput type="text" placeholder="Apellido 1" formControlName="apellido1">
                <mat-error *ngIf="!addEmployeeForm.controls['apellido1'].valid && addEmployeeForm.controls['apellido1'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellido 2</mat-label>
                <input matInput type="text" placeholder="Apellido 2" formControlName="apellido2">
                <mat-error *ngIf="!addEmployeeForm.controls['apellido2'].valid && addEmployeeForm.controls['apellido2'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Teléfono</mat-label>
                <input matInput type="tel" placeholder="Teléfono" formControlName="phoneNumber">
                <mat-error *ngIf="!addEmployeeForm.controls['phoneNumber'].valid && addEmployeeForm.controls['phoneNumber'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Identificación del Responsable</mat-label>
                <input matInput type="number" placeholder="Identificacor" formControlName="managerId">
                <mat-error *ngIf="!addEmployeeForm.controls['managerId'].valid && addEmployeeForm.controls['managerId'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nombre Usuario Aplicación</mat-label>
                <input matInput type="text" placeholder="Username" formControlName="login">
                <mat-error *ngIf="!addEmployeeForm.controls['login'].valid && addEmployeeForm.controls['login'].touched">Debes
                    rellenar este campo.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Rol del empleado</mat-label>
                <mat-select [(value)]="selected" formControlName="idRole">
                  <mat-option value="3">Empleado</mat-option>
                  <mat-option value="2">Encargado</mat-option>
                  <mat-option value="1">Administrador</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="flex-between">
            <button *ngIf="!data else modifyButtons" mat-raised-button color="primary" type="submit" [disabled]="addEmployeeForm.invalid">
                Añadir Empleado
            </button>
                <ng-template #modifyButtons>
                <button  mat-raised-button color="primary" type="submit" [disabled]="addEmployeeForm.invalid">
                    Modificar Empleado
                </button>
            </ng-template>
                <button  mat-raised-button color="warn" type="button" (click)="dialogRef.close()">
                    Cerrar
                </button>
            </div>
    </form>
</div>
