<div class="contenedor">
    <h2>Datos de empleado</h2>
    <div>
        <table>
            <tr>
                <td><mat-label>Nombre:</mat-label></td>
                <td>
                    <mat-label>{{ nombre }}</mat-label>
                </td>
            </tr>
            <tr>
                <td><mat-label>Apellidos:</mat-label></td>
                <td>
                    <mat-label>{{ apellidos }}</mat-label>
                </td>
            </tr>
            <tr>
                <td><mat-label>Teléfono:</mat-label></td>
                <td>
                    <mat-label>{{ telefono }}</mat-label>
                </td>
            </tr>
        </table>
    </div>
    <div class="form">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <h4>Cambio de contraseña</h4>
            <div class="form_field">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña actual</mat-label>
                    <input
                        matInput
                        [type]="hide ? 'password' : 'text'"
                        placeholder="Contraseña actual"
                        formControlName="currentPassword"
                        required
                    />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="changePasswordForm.get('currentPassword')?.invalid"
                        >La contraseña actual es requerida.</mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contraseña nueva</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="!changePasswordForm.controls['newPassword'].valid && changePasswordForm.controls['newPassword'].touched">
                        <ng-container *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Debes
                            rellenar este campo.</ng-container>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Confirmar Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error
                        *ngIf="!changePasswordForm.controls['confirmPassword'].valid && changePasswordForm.controls['confirmPassword'].touched">
                        <ng-container *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">Debes
                            rellenar este campo.</ng-container>
                    </mat-error>
                </mat-form-field>
                <ul>
                    <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
                        <li>La contrasea debe tener mínimo 8
                            caracteres.</li>
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']">
                        <li>LA contraseña tiene un máximo de 255
                            caracteres.</li>
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">
                        <li>La contraseña debe contener al menos una letra
                            mayúscula, una letra minúscula, un dígito y no tener espacios en blanco.</li>
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['mustMatch']">
                        <li>
                            Las contraseñas deben
                            coincidir.
                        </li>
                    </mat-error>
                </ul>
            </div>

            <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
                Cambiar contraseña
            </button>
        </form>
    </div>
</div>

