<mat-toolbar class="mat-elevation-z8" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened else close"> menu </mat-icon>
      <ng-template #close>
          <mat-icon> close </mat-icon>
      </ng-template>
    </button>

    <div class="logo" routerLink="/login">
        <h1 class="logo_title">Lazy Postman</h1>
        <img src="../../../../../assets/img/LazyPostman_logo_500_white.svg" alt="Logo Lazy postman"
        width="56" height="56">
</div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" [mode]="mode" color="primary" [opened]="opened">
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links"  [routerLink]="link.route" routerLinkActive="active">
            <div matListItemIcon >
                <mat-icon color="primary">{{link.icon}}</mat-icon>
            </div>
            <a matListItemTitle>
                {{link.name}}</a>
        </mat-list-item>
        <mat-list-item routerLink="/login" routerLinkActive="active" (click)="logout()">
            <div matListItemIcon >
                <mat-icon color="primary">exit_to_app</mat-icon>
            </div>
            <a matListItemTitle>
                Cerrar sesión
            </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>