mat-sidenav {
    min-width: 200px;
    display: flex;
}
.content {
    height: calc(100vh - 96px);
    border-radius: 10px;
    margin: 16px;
    overflow: auto;
}

@media (max-width: 600px) {
    .content {
        height: calc(100vh - 56px);
        border-radius: unset;
        margin: 0;
    }
}

mat-list-item a {
    font-size: 16px;
}
mat-divider {
    background-color: rgba(255, 255, 255, 0.5);
}

.flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    background-color: var(--primary-color);
}
.active a{
    color: var(--color-white);
}
.active mat-icon{
    color: var(--color-white);
}
.logo{
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    margin: 0 auto;
}
.logo_title{
    font-family: 'Georgia', Times, serif;
    font-size: 32px;
    color: var(--color-white);
    margin-bottom: 5px;
}
@media (max-width: 500px){
.logo_title{
    font-size: 28px;
}

}